# Data exploration

## 15-per-hour-seattle

In [2]:
import pandas as pd

comments_df = pd.read_csv('15-per-hour-seattle/comments.csv')
pvotes_df = pd.read_csv('15-per-hour-seattle/participants-votes.csv')
stathist_df = pd.read_csv('15-per-hour-seattle/stats-history.csv')
summary = pd.read_csv('15-per-hour-seattle/summary.csv', index_col=0).squeeze()
votes_df = pd.read_csv('15-per-hour-seattle/votes.csv')

In [3]:
print(f'The discussion topic is: {summary.loc['conversation-description']}')
summary

The discussion topic is: How do you think the new minimum wage law will affect Seattle? Will it be for the better or for the worse? Why?

topic
url                                                      https://pol.is/2demo
views                                                                    6184
voters                                                                    339
voters-in-conv                                                            339
commenters                                                                 33
comments                                                                   54
groups                                                                      2
conversation-description    How do you think the new minimum wage law will...
Name: $15/hour, dtype: object

In [4]:
print(f'comments_df shape: {comments_df.shape}')
comments_df.head()

comments_df shape: (54, 8)

,timestamp,datetime,comment-id,author-id,agrees,disagrees,moderated,comment-body
0,1542406176584,Sat Nov 17 05:09:36 WIB 2018,53,6172,1,0,0,Not sure I believe any of this...
1,1403067224363,Wed Jun 18 11:53:44 WIB 2014,48,215,38,18,1,"Businesses, small or large, shouldn't be able ..."
2,1403058993627,Wed Jun 18 09:36:33 WIB 2014,36,85,53,30,1,It's just going to speed up the adoption of ro...
3,1403058892294,Wed Jun 18 09:34:52 WIB 2014,20,33,43,46,1,Reactionary liberal trash. Doesn't solve the p...
4,1403054231140,Wed Jun 18 08:17:11 WIB 2014,4,0,60,25,1,While the arguments for the raise in the minim...

In [5]:
print(f'participants-votes: {pvotes_df.shape}')
pvotes_df.head()

participants-votes: (339, 60)

,participant,group-id,n-comments,n-votes,n-agree,n-disagree,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
0,0,0.0,13,13,0,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,13,8,4,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1.0,0,14,8,6,1.0,-1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1.0,0,16,9,7,1.0,NaN,NaN,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0.0,0,20,4,10,-1.0,0.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
print(f'stathist_df shape: {stathist_df.shape}')
stathist_df.head()

stathist_df shape: (9233, 5)

   n-votes  n-comments  n-visitors  n-voters  n-commenters
0        0           0           1         0             0
1        0           1           1         0             1
2        1           1           1         1             1
3        1           2           1         1             2
4        2           2           1         2             2

In [7]:
print(f'votes_df shape: {votes_df.shape}')
votes_df.head()

votes_df shape: (2995, 5)

       timestamp                      datetime  comment-id  voter-id  vote
0  1403054214196  Wed Jun 18 08:16:54 WIB 2014           0         0     0
1  1403057082753  Wed Jun 18 09:04:42 WIB 2014           0         1     1
2  1403058957160  Wed Jun 18 09:35:57 WIB 2014           0         3     1
3  1403058913597  Wed Jun 18 09:35:13 WIB 2014           0         4     1
4  1403058827830  Wed Jun 18 09:33:47 WIB 2014           0         5    -1

### Exp 1

In [8]:
pvotes_df = pvotes_df.set_index('participant')
comments_df = comments_df.set_index('comment-id')

In [9]:
pvotes_df.head()

,group-id,n-comments,n-votes,n-agree,n-disagree,0,1,2,3,4,...,44,45,46,47,48,49,50,51,52,53
participant,,,,,,,,,,,,,,,,,,,,,
0,0.0,13,13,0,0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,0,13,8,4,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,0,14,8,6,1.0,-1.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,0,16,9,7,1.0,NaN,NaN,1.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.0,0,20,4,10,-1.0,0.0,-1.0,-1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
metadata_cols = ['group-id', 'n-comments', 'n-votes', 'n-agree', 'n-disagree']
metadata = pvotes_df[metadata_cols]
metadata.head()

             group-id  n-comments  n-votes  n-agree  n-disagree
participant
0                 0.0          13       13        0           0
1                 1.0           0       13        8           4
3                 1.0           0       14        8           6
4                 1.0           0       16        9           7
5                 0.0           0       20        4          10

In [ ]:
pc_matrix = pvotes_df.drop(columns=metadata_cols)
pc_matrix.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
participant,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,-1.0,-1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,-1.0,NaN,1.0,1.0,-1.0,1.0,1.0,-1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,NaN,NaN,1.0,NaN,1.0,1.0,1.0,-1.0,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,-1.0,0.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
print(f'There are {pc_matrix.shape[0]*pc_matrix.shape[1]-votes_df.shape[0]} null votes in the participant-comment matrix')

There are 15311 null votes in the participant-comment matrix

## NH-democratic-ai-2

In [15]:
comgroup_df = pd.read_csv('NH-democratic-ai-2/comment-groups.csv')
comgroup_df

,comment-id,comment,total-votes,total-agrees,total-disagrees,total-passes,group-a-votes,group-a-agrees,group-a-disagrees,group-a-passes,group-b-votes,group-b-agrees,group-b-disagrees,group-b-passes,group-c-votes,group-c-agrees,group-c-disagrees,group-c-passes
0,1,"Even if AI-generated works are legal, there’s ...",27,19,6,2,19,16,1,2,5,3,2,0,3,0,3,0
1,2,"AI-generated content will flood the internet, ...",27,13,11,3,19,9,7,3,5,1,4,0,3,3,0,0
2,3,"If AI replaces human artists, it will kill the...",8,3,5,0,4,2,2,0,3,1,2,0,1,0,1,0
3,4,Small creators will lose their livelihoods if ...,24,12,8,4,17,10,5,2,5,2,2,1,2,0,1,1
4,5,Big AI companies are profiting off artists’ wo...,22,15,4,3,15,12,0,3,4,0,4,0,3,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,57,Bernie for president,5,2,0,3,4,2,0,2,1,0,0,1,0,0,0,0
57,58,"It's impractical to add copyright laws to AI, ...",3,2,0,1,2,1,0,1,1,1,0,0,0,0,0,0
58,59,We need a balanced approach that does not guar...,2,2,0,0,1,1,0,0,1,1,0,0,0,0,0,0
59,60,"Soon, pretty much everything is at least part-...",3,1,1,1,2,1,0,1,1,0,1,0,0,0,0,0
60,61,Our solution to this problem may not come from...,1,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0